// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 /* Desktop */
 @media screen and (min-width: 800px) {
    body {
      background-color: lemonchiffon;
    }
  }
  /* Mid View */
  @media screen and (min-width: 450px) {
    body {
      background-color: lightblue;
    }
  }

  /* Mobile  */
  @media screen and  (min-width: 200px) {
    body {
      background-color: black;
    }
  }

  .authBox{
    // background-color:grey;
    display:flex;
  }
  input{
    background-color:#333C3F;
    text-align:center;
    margin:12px;
    width:100%;
    color:lightcoral;

  }
  .mTitle{
    // border:solid red;
    text-align:center;
    color:lemonchiffon;
    border-width:.2px;
  }
  .mainNotes{
    border:solid red;
    height:32vh;
    // background-image:url('https://cdn.wallpapersafari.com/98/95/XUYh7H.jpeg');
  }
  .halfTop{
    // border:solid green;
    margin:3px;
    padding:1em;
  }
  #btnSubmit{
    color:white;
    background-color:green;
  }
  .modal-body, .modal-header{
    color: lemonchiffon;
    background-color: black;
    
  }
  #lander{
    margin:22%;
  }
  #lander:hover{
    -webkit-box-shadow: 3px 5px 8px 2px #3B95FF; 
    box-shadow: 3px 5px 8px 2px #3B95FF;
  }
  .profileContainer{
    // border:solid yellow;
    border-width:.2px;
    padding:8px;
    height:auto;
    margin:12px;
  }
  .profileTxtMain{
    color:lightskyblue;
    text-align:center;
  }
  .innerContainer{
    border:solid white;
    margin:2em;
    padding:22px;
    border-width:.2px;
    height:23vh;
    justify-content: space-between;
    // display:flex;
  }
  .proBox{
    // border:solid lightskyblue;
    border-width:.2px;
    width:40%;
    margin:5%;
    text-align:center;
    color:lemonchiffon;
  }
.actionBtn{
  border:solid lightskyblue;
  text-align:center;
  margin:2em;
  font-size:18px;
  color:lemonchiffon;
  width:auto;
  background-color:salmon;
  text-decoration:none;
}
.actionBtn:hover{
  border:solid lightskyblue;
  text-align:center;
  font-size:18px;
  color:lemonchiffon;
  text-decoration:none;
  margin:2em;

}
.phead{
  border:solid white;
  border-width:.2px;
  padding:2px;
  background-color:green;
}
.phead:hover{
  border:solid white;
  border-width:.2px;
  padding:2px;
  background-color:salmon;
}
.mainContainer{
  // border:solid blue;
  border-radius:22px;
  display:flex;
  border-width:.2px;
  height:42vh;
  padding-top:43px;
  padding-left:93px;
  margin-bottom:18px;
  background-image: url('https://cdn.hipwallpaper.com/i/34/85/9TWbka.jpg');
  background-size:cover;
}
.singleJot{
 color:#333C3F;
   margin-left:22%
}
.flyPen{
  height:120px;
}
@keyframes rookieMove {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(-100%);
  }
}
.motto{
  font-family: 'Courier New', Courier, monospace;
  color:salmon;
  animation: rookieMove ease-in 18s infinite;
}
.btnHold{
  border:solid red;
  padding:4px;
  width:30%;
  justify-content: space-around;
  // display: flex;
}
.scrnHold{
  border:solid red;
  padding:4px;
  width:60%;
  justify-content: space-around;
  // display: flex;
}
.chooseBtn{
  margin:6px;
  color:lightblue;
  border:solid salmon;
  background-color:grey;
}
.jotKey{
  color:lemonchiffon;
}
.greatContainer{
  color:lightskyblue;
  text-align:center;
  margin-top:2em;
}
table{
  border:solid lightskyblue;
  border-width:.2px;
  width:100%;
  
}

.actNput{
  width:100%;
}
.flexer{
  display:flex;
}

