// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 /* Desktop */
 @media screen and (min-width: 800px) {
    body {
      background-color: lemonchiffon;
    }
  }
  /* Mid View */
  @media screen and (min-width: 450px) {
    body {
      background-color: lightblue;
    }
  }

  /* Mobile  */
  @media screen and  (min-width: 200px) {
    body {
      background-color: black;
    }
  }